@font-face {
  font-family: "starwarsMain";
  src: url("./fonts/Starjedi.ttf");
}

@font-face {
  font-family: "starwarsAlt";
  src: url("./fonts/Starjhol.ttf");
}

hr {
  width: 100%;
}

h3 {
  font-family: starwarsAlt;
}

button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 8px 0px #808080bf;
  transition-duration: 300ms;
  color: #fff;
}

button:active {
  transform: scale(0.95);
}

h1 {
  padding: 0 20px;
  font-size: 32px;
}
